# Python cache
__pycache__/
*.pyc

# Configuration et Logs (ne pas versionner les préférences utilisateur ou l'historique)
config.ini
historique_crypto.log
secret.txt
*.spec
.coverage
.coveragerc

# Fichiers de données (ne jamais uploader de fichiers chiffrés ou sensibles)
*.enc
*.dec
*.iss
*.bat

# Environnements virtuels et builds
venv/
dist/
build/
*.spec